{% extends 'base.html' %}
{% block content %}
<div class="container">

    <div class="row text-center">
        {% for news in news_timeline %}
        <ul>
	     <div class="">
              <a  href = "{{ news["news_link"] }}">{{ news["news_name"] }}</a>
         </div>
        </ul>
        {% end %}
    {% module Paginator(current_page,5, results) %}
    </div>
</div>




{% end %}

{% block footer %}

<footer class="footer" style="background-color:rgb(51, 46, 54)">
    <div class="subscribe-email row text-center" style="color: rgb(255, 255, 255)">
    <h3>您也可以通过电子邮件订阅每周的更新，不错过任何一个好产品</h3>
  <form class="form-inline" method="POST">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
          <input type="email" class="form-control" name="email" placeholder="Email">
          <button type="submit" class="btn btn-default">订阅</button>
    </div>
    
  </form>
    </div>

  <div class="row cf">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center" style="color: rgb(116, 127, 140)">
      <p>© 2014-2015 <strong>PMnews</strong>. All Rights Reserved.</p>
    </div>

    <div class="col-md-4"></div>
    </div>
    
  <div id="Intercom" class="hide"></div>
  <script data-turbolinks-track="true" src="./NEXT   不错过任何一个新产品_files/faye.js"></script>
</footer>
{% end %}
